body{
    background-color: antiquewhite;
}
.container{
    margin:1rem auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:50%;
}
.App{
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.App button{
    margin-top: 10px;
    font-size: large;
    height:35px;
    border-radius: 10px;
    margin-bottom: 10px;
    border:none;
    background-color: rgb(180, 121, 99);
    width:120px;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.App button:hover{
    background-color: rgb(192, 154, 141);
}
.turn{
    display: flex;
}
.chance{
    height:33px;
    width:200px;
    text-align: center;
    border-radius: 10px;
    font-family:cursive;
    font-size:small;
    margin-top: 10px;
    border:1px solid gray;
    position: relative;
    left:-10%;
}
h2{
    margin-top: 2px;
}
.pawn{
    position: fixed;
    z-index: -1;
    height: 100px;
    top:83%;
    transform: rotateZ(105deg);
    left: 2%;
}
.king{
    position: fixed;
    top:65%;
    left:10%;
    z-index: -1;
    height:200px;
}
.knight{
    position: fixed;
    top:78%;
    left:13%;
    z-index: -2;
    height:150px;
    transform: rotateZ(95deg) rotateX(30deg);
}